name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Install and Test
    if: github.event_name != 'pull_request' || (secrets.BROWSERSTACK_USER != '' && secrets.BROWSERSTACK_KEY != '')
    uses: ./.github/workflows/bs-reusable.yml
    with:
      platform_name: Android
      app_id: ${{ secrets.BROWSERSTACK_APP_ID || 'bs://ce24671772a8ec2e579c84116a9ca58bf7ecde93' }}
      spec: ./tests/specs/login.spec.js
    secrets:
      BROWSERSTACK_USER: ${{ secrets.BROWSERSTACK_USER }}
      BROWSERSTACK_KEY: ${{ secrets.BROWSERSTACK_KEY }}
